In [1]:
import pandas as pd
import numpy as np

In [4]:
census_df=pd.read_csv('census/census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [9]:
def ans_six():
    states=list(census_df['STNAME'].unique())
    mask=census_df['SUMLEV']==50
    filter_df=census_df[mask][['STNAME','CTYNAME','CENSUS2010POP']]
    myList=[]
    for state in states:
        mask=filter_df['STNAME']==state
        frame=filter_df[mask]
        top3=frame.sort_values('CENSUS2010POP',ascending=False)[:3]
        myList.append([sum(top3['CENSUS2010POP']),state])
    myList.sort(reverse=True)
    result=[i[1] for i in myList[:3]]
    return result
ans_six()

['California', 'Texas', 'Illinois']

# Or

In [10]:
def ans1_six():
    df=census_df[census_df['SUMLEV']==50].copy()
    top3_df=pd.DataFrame(columns=['CENSUS'])
    for group,frame in df.groupby(['STNAME']):
        total=frame.sort_values('CENSUS2010POP',ascending=False)[:3]['CENSUS2010POP'].sum()
        top3_df.loc[group]=total
    return list(top3_df.sort_values('CENSUS',ascending=False)[:3].index)

ans1_six()

['California', 'Texas', 'Illinois']

In [46]:
def ans_seven():
    mask=census_df['SUMLEV']==50
    df=census_df[mask].copy()
    df=df.set_index(['STNAME','CTYNAME'])
    df[
        [
            'POPESTIMATE2010','POPESTIMATE2011',
            'POPESTIMATE2012','POPESTIMATE2013',
            'POPESTIMATE2014','POPESTIMATE2015'
        ]]
    df['MAX_POP']=df.max(axis=1)
    df['MIN_POP']=df.min(axis=1)
    df['diff_pop']=abs(df['MAX_POP']-df['MIN_POP'])
    return df['diff_pop'].argmax()[1]


ans_seven()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Los Angeles County'

In [47]:
census_df[
    [
        'POPESTIMATE2010','POPESTIMATE2011',
        'POPESTIMATE2012','POPESTIMATE2013',
        'POPESTIMATE2014','POPESTIMATE2015'
    ]].head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,4785161,4801108,4816089,4830533,4846411,4858979
1,54660,55253,55175,55038,55290,55347
2,183193,186659,190396,195126,199713,203709
3,27341,27226,27159,26973,26815,26489
4,22861,22733,22642,22512,22549,22583

In [56]:
mask=[(census_df['REGION']==1) | (census_df['REGION']==2) ]
df=census_df

[0       False
 1       False
 2       False
 3       False
 4       False
 5       False
 6       False
 7       False
 8       False
 9       False
 10      False
 11      False
 12      False
 13      False
 14      False
 15      False
 16      False
 17      False
 18      False
 19      False
 20      False
 21      False
 22      False
 23      False
 24      False
 25      False
 26      False
 27      False
 28      False
 29      False
         ...
 3163     True
 3164     True
 3165     True
 3166     True
 3167     True
 3168     True
 3169    False
 3170    False
 3171    False
 3172    False
 3173    False
 3174    False
 3175    False
 3176    False
 3177    False
 3178    False
 3179    False
 3180    False
 3181    False
 3182    False
 3183    False
 3184    False
 3185    False
 3186    False
 3187    False
 3188    False
 3189    False
 3190    False
 3191    False
 3192    False
 Name: REGION, Length: 3193, dtype: bool]